<div class="row">
  <!-- left column -->
  <div class="col-md-6">
    <!-- general form elements -->
    <%= render 'form', user_competency_level: @user_competency_level %>
    <!-- /.box -->
  </div>
</div>

<%= link_to 'Back', user_competency_levels_path %>
