default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: loopoolo_development

test:
  <<: *default
  database: loopoolo_test

production:
  <<: *default
  database: loopoolo_production
  username: loopoolo
  password: <%= ENV['LOOPOOLO_DATABASE_PASSWORD'] %>
