<%= form_for(competency_type) do |f| %>
  <% if competency_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competency_type.errors.count, "error") %> prohibited this competency_type from being saved:</h2>

      <ul>
      <% competency_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
