<div class="checkbox">
  <%= label_tag team_checkbox.name do %>
    <%= check_box_tag team_checkbox.name, team_checkbox.id, @user.teams.include?(team_checkbox), class: "checkbox" %>
    <%= t("teams.#{team_checkbox.name}") %>
  <% end %>
</div>