<header class="main-header">
  <%= content_tag :a, href: admin_root_path, class: 'logo' do %>
    <span class="logo-mini">
      <b>L</b>
    </span>
    
    <span class="logo-lg">
      <img src="/images/logo.png">
    </span>
  <% end %>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <%= render partial: 'admin/shared/user_navbar' unless current_user.nil? %>
  </nav>
</header>